@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Inter:wght@300&display=swap');

$color-background-primary: rgb(28,26,29);
$color-background-secondary: rgb(42,40,53);
$color-background-tertiary: rgb(71,70,80);
$color-text-primary:white;
$color-text-secondary: #D3FF56;
$title-font: "Cormorant Garamond", serif;
$body-font: "Inter", sans-serif;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;