@use "../../styles/variables" as *;

.projects-container {
  margin: 50px 20px 50px 20px;
  padding-top: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__title {
    font-family: $title-font;
    font-size: 40px;
    color: $color-text-primary;
  }
}
